body {background-color: #C0C0C0; font: Helvetica}
div {display:block;}
#container {width:800px;margin:50px auto auto 50px;}
#pic {margin:10px 10px 10px 10px;float:right;}
#Name {margin-bottom:15px;border-bottom:1px solid #999;}
